In [1]:
# Read csv file

In [3]:
import pandas as pd

In [11]:
df=pd.read_csv('C:/Users/HP/Downloads/Refactored_Py_DS_ML_Bootcamp-master/22-Deep Learning/bank_note_data.csv')

df

      Image.Var  Image.Skew  Image.Curt  Entropy  Class
0       3.62160     8.66610     -2.8073 -0.44699      0
1       4.54590     8.16740     -2.4586 -1.46210      0
2       3.86600    -2.63830      1.9242  0.10645      0
3       3.45660     9.52280     -4.0112 -3.59440      0
4       0.32924    -4.45520      4.5718 -0.98880      0
...         ...         ...         ...      ...    ...
1367    0.40614     1.34920     -1.4501 -0.55949      1
1368   -1.38870    -4.87730      6.4774  0.34179      1
1369   -3.75030   -13.45860     17.5932 -2.77710      1
1370   -3.56370    -8.38270     12.3930 -1.28230      1
1371   -2.54190    -0.65804      2.6842  1.19520      1

[1372 rows x 5 columns]

In [13]:
df.head(10)

   Image.Var  Image.Skew  Image.Curt  Entropy  Class
0    3.62160      8.6661    -2.80730 -0.44699      0
1    4.54590      8.1674    -2.45860 -1.46210      0
2    3.86600     -2.6383     1.92420  0.10645      0
3    3.45660      9.5228    -4.01120 -3.59440      0
4    0.32924     -4.4552     4.57180 -0.98880      0
5    4.36840      9.6718    -3.96060 -3.16250      0
6    3.59120      3.0129     0.72888  0.56421      0
7    2.09220     -6.8100     8.46360 -0.60216      0
8    3.20320      5.7588    -0.75345 -0.61251      0
9    1.53560      9.1772    -2.27180 -0.73535      0

In [ ]:
hruser//hruser//localhost//1521//orclpdb

In [22]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [26]:

con = create_engine(f"mysql+pymysql://root:Hello123Sanj@localhost:3306/student")
df.to_sql('bank_note_data', con, if_exists='replace', index=False)

1372

In [1]:
pip install cx_Oracle

Collecting cx_Oracle
  Using cached cx_Oracle-8.3.0.tar.gz (363 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: cx_Oracle
  Building wheel for cx_Oracle (pyproject.toml): started
  Building wheel for cx_Oracle (pyproject.toml): finished with status 'error'
Failed to build cx_Oracle
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Building wheel for cx_Oracle (pyproject.toml) did not run successfully.
  exit code: 1

  [8 lines of output]
  <string>:6: DeprecationWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html
  C:\Users\HP\AppData\Local\Temp\pip-build-env-4ql2k4k8\overlay\Lib\site-packages\setuptools\config\expand.py:133: SetuptoolsWarning: File 'C:\\Users\\HP\\AppData\\Local\\Temp\\pip-install-bitlnpln\\cx-oracle_17f12212ca82482dbab1ee23c26e9d23\\README.md' cannot be found
    return '\n'.join(
  running bdist_wheel
  running build
  running build_ext
  building 'cx_Oracle' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for cx_Oracle
ERROR: Could not build wheels for cx_Oracle, which is required to install pyproject.toml-based projects

In [29]:
engine = create_engine('oracle://hr:hr@hostname:1521/orclpdb')
df.to_sql('bank_note_data', engine, if_exists='replace', index=False)

ModuleNotFoundError: No module named 'cx_Oracle'